
mixin header(current)
  link(rel="stylesheet", href="/stylesheets/header.css")
  link(rel="stylesheet", href="/stylesheets/notification.css")

  header
    img( class="logo" src="/images/logo_easytax.png", alt="Logo easytax")
    nav.menu
      +navitem('home', 'Ma fiscalité', "fa fa-poll", current,"/")
      +navitem('declaration', 'Déclaration', "fa fa-pencil-alt", current,"/declaration")
      +navitem('profil', 'Mon compte client', "fas fa-user-circle", current, "/profil")
      +navitem('deconnexion', 'Déconnexion', 'fas fa-sign-out-alt', current, "/deconnexion")
  
    - var nom = user.nom;
    - var id = user.identifiant;
    h1(class="special" onclick="toggleNotificationPanel()")
      .notification-icon 
        i(class="fas fa-bell")
        span(class="notification-count") 0
      span= nom
      span (
      span(class="identifiant")= id
      span )

  include notification_panel.pug

  script(src="/javascripts/notification.js")

mixin navitem(identifiant, navTitle, icon, current, link)
  if current == identifiant
    a(href=link class="nav-item nav-item-current")
      i(class=icon)
      span=navTitle
  else
      a(href=link class="nav-item")
        i(class=icon)
        span=navTitle