
mixin header(current)
  link(rel="stylesheet", href="/stylesheets/header.css")
  link(rel="stylesheet", href="/stylesheets/notification.css")

  header
    img( class="logo" src="/images/logo_easytax.png", alt="Logo easytax")
    nav.menu
      +navitem('home', 'Ma fiscalité', "fa fa-poll", current,"/", false)
      if forfait.type !== 0
        +navitem('declaration', 'Déclaration', "fa fa-pencil-alt", current,"/declaration", false)
      else
        +navitem('declaration', 'Déclaration', "fa fa-pencil-alt", current,"/declaration", true)

      +navitem('profil', 'Mon compte client', "fas fa-user-circle", current, "/profil", false)
      +navitem('deconnexion', 'Déconnexion', 'fas fa-sign-out-alt', current, "/deconnexion", false)
  
    - var nom = user.nom;
    - var id = user.identifiant;
    h1(class="special" onclick="toggleNotificationPanel()")
      .notification-icon 
        i(class="fas fa-bell")
        span(class="notification-count") 0
      span= nom
      span (
      span(class="identifiant")= id
      span )

  include notification_panel.pug

  script(src="/javascripts/notification.js")

mixin navitem(identifiant, navTitle, icon, current, link, disable)
  if disable
    a(href="#" class="nav-item disable")
      i(class=icon)
      span=navTitle
  else if current == identifiant
    a(href=link class="nav-item nav-item-current")
      i(class=icon)
      span=navTitle
  else
      a(href=link class="nav-item")
        i(class=icon)
        span=navTitle