extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/profil.css")
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/alert.css")

  include ../includes/main_header.pug
  +header('profil')

  main
    h1.main-header
      span Mon profil

    .action-button
      button(class="update-button" onclick="updateProfil()")
        i(class="fa fa-edit")
        span Enregistrer les modifications
      button(class="change-password" onclick="displayUpdatePassword()")
        i(class="fa fa-lock")
        span Changer de mot de passe

      if user.situationFiscale !== null
        button(class="situation-fiscale" onclick="window.open('/profil-situtation-fiscale', '_blank')")
          i(class="fa fa-poll")
          span Ma situation fiscal
    .data
      .profil-data
        label Identifiant
        input(type="text" name="identifiant" value=user.identifiant)

      .profil-data
        label Nom
        input(type="text" name="nom" value=user.nom)

      .profil-data
        label Immatriculation fiscal
        input(type="text" name="immatriculationFiscal" value=user.immatriculationFiscal)

      .profil-data
        label Forme juridique
        select(name="formeJuridique" value=user.formeJuridique)

      .profil-data
        label Domaine d'activité
        input(type="text" name="domaineActivite" value=user.domaineActivite)

      .profil-data
        label Numéro du fonctionnaire
        input(type="text" name="numeroFonctionnaire" value=user.numeroFonctionnaire)

      .profil-data
        label Numéro de CNAMGS
        input(type="text" name="numeroCNAMGS" value=user.numeroCNAMGS)

      .profil-data
        label Situation géographique
        select(name="situationGeographique" value=user.situationGeographique)
          option(value="undefined") Nom défini
          option(value="Estuaire") Estuaire
          option(value="Haut-Ogooué") Haut-Ogoué
          option(value="Moyen-Oguooé") Moyen-Ogoué
          option(value="Nyanga") Nyanga
          option(value="Ngounié") Ngounié
          option(value="Ogooué - Ivindo") Ogoué-Ivindo
          option(value="Ogooué Maritime") Ogoué Maritime
          option(value="Ogooué - Lolo") Ogoué - Lolo
          option(value="Woleu - Ntem") Woleu-Ntem

      .profil-data
        label Quartier
        input(type="text" name="quartier" value=user.quartier)

      .profil-data
        label Téléphone
        input(type="text" name="telephone" value=user.telephone)

      .profil-data
        label Adresse Email
        input(type="text" name="email" value=user.email)

      .profil-data
        label Date de création
        input(type="text" name="dateCreation")

      .profil-data
        label Nombre d'employé
        select(type="text" name="nombreEmployes")
          option(value="undefined") Nom défini
          option(value="1") 1
          option(value="2") 2
          option(value="entre 2 et 20") entre 2 et 20
          option(value="entre 20 et 50") entre 20 et 50
          option(value="50 et plus") 50 et plus

      .profil-data
        label Nombre de personne à charge
        input(type="text" name="nombrePersonneACharge")

  include ../includes/update_password.pug
  script(src="/javascripts/profil.js")